In [3]:
import pandas as pd

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import *

In [ ]:
nltk.download('stopwords')

In [40]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\v-eritho\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [5]:
data = pd.read_csv('C:\\Users\\v-eritho\\Desktop\\SAIM-IntroductionToNLP\\data\\Corporate-messaging-DFE.csv')

In [6]:
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,category,category:confidence,category_gold,id,screenname,text
0,662822308,False,finalized,3,2/18/2015 4:31,Information,1.0,NaN,4.370000e+17,Barclays,Barclays CEO stresses the importance of regula...
1,662822309,False,finalized,3,2/18/2015 13:55,Information,1.0,NaN,3.860000e+17,Barclays,Barclays announces result of Rights Issue http...
2,662822310,False,finalized,3,2/18/2015 8:43,Information,1.0,NaN,3.800000e+17,Barclays,Barclays publishes its prospectus for its å£5....
3,662822311,False,finalized,3,2/18/2015 9:13,Information,1.0,NaN,3.680000e+17,Barclays,Barclays Group Finance Director Chris Lucas is...
4,662822312,False,finalized,3,2/18/2015 6:48,Information,1.0,NaN,3.600000e+17,Barclays,Barclays announces that Irene McDermott Brown ...

In [7]:
data.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'category', 'category:confidence', 'category_gold',
       'id', 'screenname', 'text'],
      dtype='object')

In [8]:
data["text"]

0       Barclays CEO stresses the importance of regula...
1       Barclays announces result of Rights Issue http...
2       Barclays publishes its prospectus for its å£5....
3       Barclays Group Finance Director Chris Lucas is...
4       Barclays announces that Irene McDermott Brown ...
5       Barclays response to PRA capital shortfall exe...
6       Barclays sponsors #Zamynforum BBC World Servic...
7       Barclays has today published its response to T...
8       Read statement on #Barclays CEO bonus award 20...
9       59% of workers are either looking to change jo...
10      You no longer have one workforce. You have fiv...
11      UK entrepreneurial activity in 2013 at a glanc...
12      Emma Turner, Head of Client Philanthropy provi...
13      ...Visit us @NAPFnews 5-7 March for more workf...
14      Will the chill in #emergingmarkets last a litt...
15      Since 2004 we've invested å£37.5m in the #Spac...
16      Barclays Service Executives: helping you feel ...
17      Jaime Arguello examines whether 2014 is the ri...
18      Student of the Year Awards for Island's except...
19      Young people at the focus  4 local charities h...
20      We are delighted to have been ranked best weal...
21      Barclays &amp  @BGF_team #EntrepreneursIndex r...
22      Proud to sponsor @BVCA Conference today. Lots ...
23      ‰ÛÏEmployers must now address the fundamental ...
24      Gen Y: 65% seek financial education &amp  guid...
25      Visit us at stand 310 @eb__live  to see a new ...
26      Why benefit strategies are failing younger wor...
27      Gen X places importance on company pension sch...
28      Baby Boomers: Least demanding generation, 71% ...
29      Latest research finds over 90% of employees fr...
                              ...
3088    The H4HInitiative develops strategies to encou...
3089    The International Osteoporosis Foundation @iof...
3090    The World Wide Web is 25 today &amp; going str...
3091    This Heart Health Month, Million Hearts begins...
3092    This week is @sleepfoundationÌ¢‰âÂ‰ã¢s Sleep A...
3093    To celebrate Global Community Day over 400 #Ci...
3094    Today is International Maternal Health Day. RT...
3095    Today our CMO joins a panel at the National He...
3096    Today, the Health Ministry rewarded Danone Spa...
3097    Turning waste into gold! See how @sanergy solv...
3098    Want to improve your health? Read about the im...
3099    Watch celebrity @ChefArtSmith cook up his #hea...
3100    Watch the moving story of @Parinaam assisting ...
3101    Watching the globes 2nite? DonÌ¢‰âÂ‰ã¢t miss @...
3102    We are honored to be selected as a 2014 Manufa...
3103    We are moments away from learning the names of...
3104    We are the proud recipient of the #Citizens201...
3105    We pledge to accelerate #salt reduction in all...
3106    We think it's a shame "Cake to Bake" didn't ma...
3107    We're grateful for 2x honors @ChamberBCLC Citi...
3108    WeÌ¢‰âÂ‰ã¢re the 1. to sign up to a European i...
3109    WeÌ¢‰âÂ‰ã¢re working hard to do all we can to ...
3110    Wish children ate healthier? See how Trees for...
3111    Wish cities were more child-friendly? See how ...
3112    Wishing all of our followers a happy and healt...
3113    Wishing you a happy and healthy Thanksgiving. ...
3114    WouldnÌ¢‰âÂ‰ã¢t it be great if your oven recog...
3115    Yesterday, these #HealthyKids lit up Broadway ...
3116    Yo-Jelly, Danone new brand in South Africa : t...
3117    Z Bhutta: Problems with food&amp;land systems ...
Name: text, Length: 3118, dtype: object

In [12]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\v-eritho\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [16]:
data["text2"] = data["text"].map(nltk.word_tokenize)

In [17]:
data["text2"]

0       [Barclays, CEO, stresses, the, importance, of,...
1       [Barclays, announces, result, of, Rights, Issu...
2       [Barclays, publishes, its, prospectus, for, it...
3       [Barclays, Group, Finance, Director, Chris, Lu...
4       [Barclays, announces, that, Irene, McDermott, ...
5       [Barclays, response, to, PRA, capital, shortfa...
6       [Barclays, sponsors, #, Zamynforum, BBC, World...
7       [Barclays, has, today, published, its, respons...
8       [Read, statement, on, #, Barclays, CEO, bonus,...
9       [59, %, of, workers, are, either, looking, to,...
10      [You, no, longer, have, one, workforce, ., You...
11      [UK, entrepreneurial, activity, in, 2013, at, ...
12      [Emma, Turner, ,, Head, of, Client, Philanthro...
13      [..., Visit, us, @, NAPFnews, 5-7, March, for,...
14      [Will, the, chill, in, #, emergingmarkets, las...
15      [Since, 2004, we, 've, invested, å£37.5m, in, ...
16      [Barclays, Service, Executives, :, helping, yo...
17      [Jaime, Arguello, examines, whether, 2014, is,...
18      [Student, of, the, Year, Awards, for, Island, ...
19      [Young, people, at, the, focus, 4, local, char...
20      [We, are, delighted, to, have, been, ranked, b...
21      [Barclays, &, amp, @, BGF_team, #, Entrepreneu...
22      [Proud, to, sponsor, @, BVCA, Conference, toda...
23      [‰ÛÏEmployers, must, now, address, the, fundam...
24      [Gen, Y, :, 65, %, seek, financial, education,...
25      [Visit, us, at, stand, 310, @, eb__live, to, s...
26      [Why, benefit, strategies, are, failing, young...
27      [Gen, X, places, importance, on, company, pens...
28      [Baby, Boomers, :, Least, demanding, generatio...
29      [Latest, research, finds, over, 90, %, of, emp...
                              ...
3088    [The, H4HInitiative, develops, strategies, to,...
3089    [The, International, Osteoporosis, Foundation,...
3090    [The, World, Wide, Web, is, 25, today, &, amp,...
3091    [This, Heart, Health, Month, ,, Million, Heart...
3092    [This, week, is, @, sleepfoundationÌ¢‰âÂ‰ã¢s, ...
3093    [To, celebrate, Global, Community, Day, over, ...
3094    [Today, is, International, Maternal, Health, D...
3095    [Today, our, CMO, joins, a, panel, at, the, Na...
3096    [Today, ,, the, Health, Ministry, rewarded, Da...
3097    [Turning, waste, into, gold, !, See, how, @, s...
3098    [Want, to, improve, your, health, ?, Read, abo...
3099    [Watch, celebrity, @, ChefArtSmith, cook, up, ...
3100    [Watch, the, moving, story, of, @, Parinaam, a...
3101    [Watching, the, globes, 2nite, ?, DonÌ¢‰âÂ‰ã¢t...
3102    [We, are, honored, to, be, selected, as, a, 20...
3103    [We, are, moments, away, from, learning, the, ...
3104    [We, are, the, proud, recipient, of, the, #, C...
3105    [We, pledge, to, accelerate, #, salt, reductio...
3106    [We, think, it, 's, a, shame, ``, Cake, to, Ba...
3107    [We, 're, grateful, for, 2x, honors, @, Chambe...
3108    [WeÌ¢‰âÂ‰ã¢re, the, 1., to, sign, up, to, a, E...
3109    [WeÌ¢‰âÂ‰ã¢re, working, hard, to, do, all, we,...
3110    [Wish, children, ate, healthier, ?, See, how, ...
3111    [Wish, cities, were, more, child-friendly, ?, ...
3112    [Wishing, all, of, our, followers, a, happy, a...
3113    [Wishing, you, a, happy, and, healthy, Thanksg...
3114    [WouldnÌ¢‰âÂ‰ã¢t, it, be, great, if, your, ove...
3115    [Yesterday, ,, these, #, HealthyKids, lit, up,...
3116    [Yo-Jelly, ,, Danone, new, brand, in, South, A...
3117    [Z, Bhutta, :, Problems, with, food, &, amp, ;...
Name: text2, Length: 3118, dtype: object

In [ ]:
stemmer = nltk.stem.PorterStemmer()

In [35]:
def cleaner(text):
    tokens = nltk.word_tokenize(text)
    tokens = [token.lower() for token in tokens]
    tokens = [token for token in tokens if token not in nltk.corpus.stopwords.words('english')]
    stemmed = [stemmer.stem(token) for token in tokens]
    return stemmed

In [36]:
data["text3"] = data["text"].map(cleaner)

In [46]:
data["text4"] = data["text3"].map(nltk.pos_tag)

In [47]:
data["text4"]

0       [(barclay, NN), (ceo, NN), (stress, NN), (impo...
1       [(barclay, NN), (announc, NN), (result, NN), (...
2       [(barclay, NN), (publish, JJ), (prospectu, NN)...
3       [(barclay, NN), (group, NN), (financ, VBD), (d...
4       [(barclay, NN), (announc, VBZ), (iren, JJ), (m...
5       [(barclay, NN), (respons, NNS), (pra, VBP), (c...
6       [(barclay, NN), (sponsor, NN), (#, #), (zamynf...
7       [(barclay, NN), (today, NN), (publish, JJ), (r...
8       [(read, JJ), (statement, NN), (#, #), (barclay...
9       [(59, CD), (%, NN), (worker, NN), (either, CC)...
10      [(longer, JJR), (one, CD), (workforc, NN), (.,...
11      [(uk, JJ), (entrepreneuri, NN), (activ, NN), (...
12      [(emma, NN), (turner, NN), (,, ,), (head, NN),...
13      [(..., :), (visit, NN), (us, PRP), (@, VBP), (...
14      [(chill, NN), (#, #), (emergingmarket, NN), (l...
15      [(sinc, NN), (2004, CD), ('ve, VBP), (invest, ...
16      [(barclay, NN), (servic, JJ), (execut, NN), (:...
17      [(jaim, NN), (arguello, IN), (examin, FW), (wh...
18      [(student, NN), (year, NN), (award, RB), (isla...
19      [(young, JJ), (peopl, NN), (focu, VBD), (4, CD...
20      [(delight, JJ), (rank, NN), (best, JJS), (weal...
21      [(barclay, NN), (&, CC), (amp, NN), (@, VBP), ...
22      [(proud, NN), (sponsor, NN), (@, NNP), (bvca, ...
23      [(‰ûïemploy, NN), (must, MD), (address, VB), (...
24      [(gen, NN), (:, :), (65, CD), (%, NN), (seek, ...
25      [(visit, NN), (us, PRP), (stand, VBP), (310, C...
26      [(benefit, NN), (strategi, NN), (fail, VBP), (...
27      [(gen, NN), (x, JJ), (place, NN), (import, NN)...
28      [(babi, JJ), (boomer, NN), (:, :), (least, JJS...
29      [(latest, JJS), (research, NN), (find, VB), (9...
                              ...
3088    [(h4hiniti, NN), (develop, VB), (strategi, JJ)...
3089    [(intern, JJ), (osteoporosi, MD), (foundat, VB...
3090    [(world, NN), (wide, JJ), (web, NN), (25, CD),...
3091    [(heart, NN), (health, NN), (month, NN), (,, ,...
3092    [(week, NN), (@, NNP), (sleepfoundationì¢‰ââ‰ã...
3093    [(celebr, NN), (global, JJ), (commun, NN), (da...
3094    [(today, NN), (intern, JJ), (matern, JJ), (hea...
3095    [(today, NN), (cmo, VBP), (join, NN), (panel, ...
3096    [(today, NN), (,, ,), (health, NN), (ministri,...
3097    [(turn, NN), (wast, WRB), (gold, NN), (!, .), ...
3098    [(want, JJ), (improv, NN), (health, NN), (?, ....
3099    [(watch, NN), (celebr, NN), (@, NNP), (chefart...
3100    [(watch, NN), (move, NN), (stori, NN), (@, NNP...
3101    [(watch, NN), (globe, NN), (2nite, CD), (?, .)...
3102    [(honor, NN), (select, NN), (2014, CD), (manuf...
3103    [(moment, NN), (away, RB), (learn, JJ), (name,...
3104    [(proud, JJ), (recipi, NN), (#, #), (citizens2...
3105    [(pledg, NN), (acceler, NN), (#, #), (salt, NN...
3106    [(think, NN), ('s, POS), (shame, NN), (``, ``)...
3107    [('re, VBP), (grate, JJ), (2x, CD), (honor, NN...
3108    [(weì¢‰ââ‰ã¢r, NN), (1., CD), (sign, JJ), (eur...
3109    [(weì¢‰ââ‰ã¢r, JJ), (work, NN), (hard, JJ), (p...
3110    [(wish, JJ), (children, NNS), (ate, VBP), (hea...
3111    [(wish, JJ), (citi, NN), (child-friendli, NN),...
3112    [(wish, JJ), (follow, VBP), (happi, NNS), (hea...
3113    [(wish, JJ), (happi, NN), (healthi, NN), (than...
3114    [(wouldnì¢‰ââ‰ã¢t, RB), (great, JJ), (oven, JJ...
3115    [(yesterday, NN), (,, ,), (#, #), (healthykid,...
3116    [(yo-jelli, NN), (,, ,), (danon, VB), (new, JJ...
3117    [(z, NN), (bhutta, NN), (:, :), (problem, NN),...
Name: text4, Length: 3118, dtype: object